.App {
  display: flex;
  flex-direction: column;
}




/* Ensure that content doesn't overflow horizontally */
body {
  overflow-x: hidden;
}
/* App.css or a global CSS file */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}


/* Apply flexbox to make sure content stays within viewport width */


/* Ensure Landing, Navigation, and Navpages divs stay within viewport width */
.Landing,
.Navigation,
.Navpages {
  width: 100%;
}

