.header {
  height: 16.6666vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #add8e6;
  color: #fff;
}
.nav-fix2 {
  position: -webkit-sticky; /* For Safari */
  position: sticky; /* For other browsers */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure it's above other content */
}
.name {
  flex: 1 0 60%;
  max-width: 200px;
  padding: 10px;
  margin-left: 2%;
}

.logo-container {
  padding-left: 5%;
  flex: 1 0 30%;
  display: flex;
  margin-left: 15%;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 70%;
  max-width: 70%;
  margin: auto;
}
@media (max-width: 768px) {
  .name {
    text-align: center;
  }
}
.contact-details {
  flex: 1 0 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  color: #000000;
}

@media (max-width: 768px) {
  .logo-container,
  .contact-details {
    display: none;
  }
}
