.nav-fix {
  position: -webkit-sticky; /* For Safari */
  position: sticky; /* For other browsers */
  top: 16%; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure it's above other content */
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0e85d1;
  color: white;
  padding: 10px 0;
  flex-direction: row;
  /* Switch back to horizontal layout on larger screens */
  margin-right: 2%; /* Add space between buttons */

}

.navigation button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  gap: 4%; /* Add little gap between buttons */
  margin-bottom: 10px; /* Add space between buttons */

}

@media only screen and (max-width: 600px) {
  .navigation {
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
    justify-content: space-around; /* Adjust alignment for smaller screens */
    padding: 5px; /* Reduce padding for smaller screens */
    margin-right: 0; /* Remove margin between buttons */
  }

  .navigation button {
    flex: 0 0 45%; /* Adjust button width for smaller screens */
    margin-bottom: 5px; /* Reduce space between buttons */
  }
}



 

  

.section {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
