.page-1 {
  position: relative; /* Ensure that top property works */
  transform: translateY(+18%); /* Vertically center the element */
}
.move
{
  /* padding-top: 1%; */
}
.content{
    flex: 1 0 60%;
  display: flex;
  flex-direction: column;
  color: #000000;
  margin-left: 3%;
}
.content div {
    flex: 1; /* Each div takes equal space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .details {
    flex: 1 0 40%;
    position: relative; /* Necessary for absolutely positioned children */
    flex-direction: column;
  }
  @media (max-width:600px) {
    .page-1{
      position: relative; /* Ensure that top property works */
    transform: translateY(+20%); 
    }
    .details {
      flex-direction: column;
      align-items: center;
      justify-content: center; /* Center in mobile view */

        .youtube{
    display:none;
    width: '60%';
  }

  .state{
    display:none;
  }
    }
  }

  .container{
    display: flex;
    flex-direction: row;
  }
  .title {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
    font-size: 2vw;
    font-weight: bold;
    color: #ce5e11;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .title {
      font-size: 5vw;
    }
  }
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
      align-items: center; /* Center items horizontally */

    }

      
  }
 
  